body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-page {
    background-color: #5A4B81;
    background: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
  }
  
  .login-container {
    background-color: #f3e4ff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 15px 15px 12px rgba(50, 0, 99, 0.6);
    width: 350px;
    text-align: center;
  }
  
  .login-title {
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2a003a; 
    border-bottom:1.7px solid #4b0479;
    padding-bottom:10px;
    margin-bottom: 15px;
  }
  
  .login-subtitle {
    font-size: 1.1em;
    line-height: 1.2;
    font-family: "Papyrus";
    font-weight: bold;
    color: #4b0479; 
    margin-top:0;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-label {
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff66b2; /* Pink label */
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
  }
  
  #submit-button {
    background-color: #e591ff; /* Pink */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #410042;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  #submit-button:hover {
    background-color:  #cc5dff; /* Darker pink on hover */
  }
  
  .error-message {
    color: red;
    font-size: 1em;
    margin-bottom: 15px;
  }
  